@model CICTED.Domain.ViewModels.Trabalho.AutoresViewModel

@{
    Layout = "_Menu";
}

<form method="post" asp-contoller="trabalho" asp-action="alterarautor">
    <div class="autor-home-content">
        <div class="margin-top-30 form-group">
            <h4>
                <span class="fa fa-warning"></span>
                <b>
                    Você é o Autor Principal do trabalho;<br />
                    Cada trabalho poderá ter até 7 (sete) autores (Autor Principal, Orientador e Coautores);
                    O trabalho terá obrigatoriamente 1 (um) orientador.
                </b>
            </h4>
            <h5>Para cadastrar um participante use uma das opções a baixo</h5>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#porEmail" aria-controls="porEmail" role="tab" data-toggle="tab">Por Email</a></li>
            <li><a href="#porNome" aria-controls="porNome" role="tab" data-toggle="tab">Por Nome</a></li>
        </ul>

        <div class="tab-content">


            @*EMAIL*@
            <div role="tabpanel" class="tab-pane active " id="porEmail">
                <div class="form-group margin-top-10 row">

                    <input class="input-add-autor" type="text" value="" id="input-email" placeholder="Email do orientador" />



                    <a id="button-cadastrar-email" class="btn btn-primary">Cadastrar</a>
                </div>
            </div>


            @*NOME*@
            <div role="tabpanel" class="tab-pane" id="porNome">
                <div class="form-group margin-top-10 row add-autor">
                    <input class="input-add-autor" type="text" id="input-nome" style="width:350px !important" placeholder="Nome do orientador" />

                    <div style="height:0px;" class="busca float-left">
                        <ul id="lista-nomes"></ul>
                    </div>

                    <a id="button-add-nome" class="btn btn-primary">Adicionar</a>
                </div>
            </div>

            <table class="table-trabalho">

                @*AUTOR PRINCIPAL*@
                <tr>
                    <td>
                        <b class="margin-right-40">Autor Principal: </b>
                    </td>
                    <td id="autor-principal">
                        <div class="float-left">
                            @Model.AutorPrincipal.Nome @Model.AutorPrincipal.Sobrenome
                            <b>@Model.AutorPrincipal.Email</b>
                        </div>
                    </td>
                </tr>


                @*COAUTORES*@
                <tr>
                    @if (Model.Coautores != null)
                    {
                        <td>
                            <b class="margin-right-40">Coautes: </b>
                        </td>
                    }
                    <td id="coautores" name="coautores">

                        @foreach (var coautor in Model.Coautores)
                        {
                            <div id="autor-@coautor.Id" data-id="coautor">
                                @coautor.Nome<b> </b> @coautor.Sobrenome
                                <b> @coautor.Email</b>
                                <a class="autor-delete" onclick="deletar-()" data-id="@coautor.Id" value="@coautor.Id"><span class="fa fa-times margin-left-20 link"></span></a>
                                <input style="visibility:hidden" name="Ids" value="@coautor.Id" />
                            </div>
                        }

                    </td>
                </tr>


                @*ORIENTADOR*@
                <tr>
                    <td><b>Orientador: </b></td>

                    <td id="orientador">


                        <div id="autor-@Model.Orientador.Id" data-id="orientador">
                            @Model.Orientador.Nome<b> </b> @Model.Orientador.Sobrenome
                            <b>@Model.Orientador.Email</b>
                            <a class="autor-delete" value="@Model.Orientador.Id"><span class="fa fa-times margin-left-20 link"></span></a>
                            <input style="visibility:hidden; float: right" name="Ids" value="@Model.Orientador.Id" />
                        </div>


                    </td>

                </tr>
            </table>
        </div>


        <hr />
        <div class="form-group margin-top-10">
            <button type="button" class="btn btn-primary float-left prev">Voltar</button>
            <button type="submit" class="btn btn-primary float-right next">Avançar</button>
        </div>
    </div>
</form>

<script type="text/javascript">

    $("#button-cadastrar-email").on("click", function () {
        var email = $("#input-email").val();
        var id = $("#coautores");

        if ($.trim($("#orientador").html()) == '') {
            id = ($("#orientador"));
        }

        var qtdCoautores = $("div[id *= autor]").length - 1;

        $.ajax({
            url: '/account/verifica/usuario',
            type: 'get',
            data: {
                email: email,
            },
            success: function (data) {
                var status;
                id.attr("data-id", "autor-" + data.id);
                if (data.status == 1 || data.status == 5) {
                    status = '<span class="fa fa-check-circle color-aprovado"></span>';
                }
                else if (data.status == 2) {
                    status = '<span class="fa fa-clock-o color-submissao"></span>';
                }
                else if (data.status == 3) {
                    status = '<span class="fa fa-clock-o color-avaliacao"></span>';
                }
                else if (data.status == 4) {
                    status = '<span class="fa fa-times-circle color-reprovado"></span>';
                }

                id.append('<div id="autor-' + data.id + '">' + status + ' ' + data.nome + ' ' +
                    data.sobrenome + '<b> ' + data.email + '</b><a class="autor-delete" value="' +
                    data.id + '"><span class="fa fa-times margin-left-20 link"></span></a>' +
                    '<input style = "visibility:hidden;float: right;width: 1px;" name="Ids" value="' + data.id + '" /></div>');
                id.find('a');

                
            },
            error: function (x, y, message) {
                alert("ERROOOU  " + message);
            },

        })
    });


    function functionName() {
        $(document).ready(function () {
            alert('oi');
        });
    }


    $("#input-nome").on("input change", function () {
        var valor = $(this).val();
        $("#lista-nomes").html(' ');
        $.ajax({
            url: '/trabalho/busca/autor',
            type: 'get',
            data: {
                busca: valor
            },

            success: function (data) {
                $.each(data, function (i, item) {
                    $("#lista-nomes").append('<li><a>' + item.nome.toUpperCase() + ' ' + item.sobrenome.toUpperCase() + '</a>' +
                        '<ul><li>Email: ' + item.email + '<br />Instituição:' + item.instituicao + '</li></ul></li>');

                })
            },
        })
    });


    $(".button-cadastrar").on("click", function () {

    });





    $(".autor-delete").on("click", function () {
        var id = $(this).attr("value");

        $.ajax({
            //url: '/product/delete/picture',
            //type: 'post',
            //data: {
            //    id: id
            //},

            success: function () {
                $("#autor-" + id).remove();
                var orientador = $("#orientador");


                if ($.trim($("#orientador").html()) == '') {
                    $(("#input-email")).attr("placeholder", "Email do orientador");
                    $(("#input-nome")).attr("placeholder", "Nome do orientador");
                }
                else {
                    $(("#input-nome")).attr("placeholder", "Nome do coautor");
                    $(("#input-email")).attr("placeholder", "Email do coautor");
                }                
            },
            error: function (x, y, message) {
                alert(message);
            },
        });
    });



</script>