@model CICTED.Domain.ViewModels.Trabalho.AvaliacaoTrabalhoViewModel

@{
    Layout = "_Menu";
}
<title>Avaliação Painel - CICTED</title>

<body>
    <form asp-controller="trabalho" asp-action="/avaliacao/painel" method="post" class="form-cadAvaliacao">
        <h3 style="text-align:center"><span class="fa fa-fw fa-clipboard"></span><b> Avaliação Painel</b></h3>
        <div class="form-group">
            <div class="form-group">
                <div class="form-group float-left">
                    <b>Evento:</b>
                    <select class="form-control" name="EventoId" style="max-width:125px" value="@Model.EventoId" id="evento">
                        <option disabled selected>Selecione</option>
                        @foreach (var evento in Model.Eventos)
            {   
                            <option value="@evento.Id"> @evento.Sigla</option>

                        }
                    </select>
                </div>
                <div class="form-group float-left margin-left-20">
                    <b>Identificador Trabalho:</b>
                    <input style="max-width:150px" id="identificador" class="form-control" type="text" name="IdentificadorTrabalho" autocomplete="off" value="@Model.IdentificadorTrabalho" />
                </div>
                <div class="form-group float-right ">
                    <div class="form-group float-left">
                        <b>Nota:</b>
                        <input class="form-control" id="nota" style="width:65px" type="text" name="Nota" value="@Model.Nota" />
                    </div>
                    <div id="emoji" class="form-group float-right margin-left-30">
                        <span class="fa fa-meh-o fa-5x"></span>

                    </div>
                </div>
            </div>
            <div class="form-group add-autor" style="margin-top:-50px">
                <b>Avaliador:</b>
                <input class="form-control input-busca-avaliador input-nome" autocomplete="off" type="text" name="Avaliador" value="@Model.Avaliador" />
                <input name="AvaliadorId" value="@Model.AvaliadorId" hidden id="input-avaliador-id"/>

                <div style="height:0px;" class="busca float-left">
                    <ul id="lista-nomes"></ul>
                </div>


            </div>
            <div class="form-group ">
                <b>SubArea:</b>
                <input id="subArea" class="form-control" style="width:280px!important" type="text" name="SubArea" readonly />
            </div>
            <div class="form-group">
                <b>Titulo Trabalho:</b>
                <input id="titulo" class="form-control" style="max-width:100%!important" type="text" name="TituloTrabalho" readonly />
            </div>
        </div>
        <div class="form-group float-right">
            <button type="submit" class="btn btn-primary">Avaliar</button>
        </div>
    </form>
</body>

<script>
    $("#evento").on("change", function () {
        var evento = $(this);
        var id = $(this).val();

        $.ajax({
            url: '/evento/descricao',
            type: 'get',
            data: {
                id: id
            },

            success: function (data) {
                $('#identificador').val(data.sigla + "2017");

            },

            error: function (x, y, message) {
                alert("Evento nao encontrado ")
            },
        });
    });

    $("#nota").keyup(function () {
        var nota = $(this);
        var id = parseFloat($(this).val()).toFixed(2);
        if (id > 10.00) {
            alert("Nota invalida");
        }
        else if (id >= 6.00) {
            $("#emoji").html('<span class="fa fa-smile-o fa-5x" style="color:green"></span>');
        }
        else {
            $("#emoji").html('<span class="fa fa-frown-o fa-5x" style="color:red"></span>');
        }


    });

    $("#identificador").keyup(function () {
        var identificacao = $(this).val();

        if (identificacao.length == 13) {
            $.ajax({
                url: '/trabalho/pesquisa/trabalho',
                type: 'get',
                data: {
                    identificacao: identificacao
                },

                success: function (identificacao) {
                    $('#subArea').val(identificacao.subArea);
                    $('#titulo').val(identificacao.tituloTrabalho);
                },

                error: function (x, y, message) {
                    alert("trabalho nao encontrado")
                },

            });

        }

    });



    //pesquisa os autores para mostrar os nomes de opção
    $(".input-nome").keyup(function () {
        var valor = $(this).val();
        if (valor.trim() == "") {
            $("#lista-nomes").empty();
        }

        if (valor.length > 2) {
            $("#lista-nomes").html(' ');
            $.ajax({
                url: '/trabalho/pesquisa/autor',
                type: 'get',
                data: {
                    busca: valor
                },
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#lista-nomes").append('<li><a data-id="'+item.id+'" class="selectautor">' + item.nome.toUpperCase() + ' ' + item.sobrenome.toUpperCase() + '</a>' +
                            '<ul><li>Email: ' + item.email + '<br />Instituição:' + item.instituicao + '</li></ul></li>');                      

                    })
                },
            })
        }
    });

    

    //seleciona o nome, preenche input
    $('body').on("click", ".selectautor", function () {
        var id = $(this).data("id");
        var nome = $(this).text();
        $(".input-nome").val(nome);
        $("#lista-nomes").empty();

        $("#input-avaliador-id").val(id);
    });



    $("#nota").mask("99,99");
</script>