@model CICTED.Domain.ViewModels.Autor.CadastroTrabalhoViewModel
@{
    Layout = "_Menu";
}
<title>Cadastro de Trabalho - CICTED</title>
<body>

    <form class="form-cadTrabalho" asp-controller="Trabalho" asp-action="Cadastro/@Model.Evento.Id" method="post">
        <div class="row form-group" style="text-align:center">
            <h3><span class="fa fa-book"></span><b> Cadastrar trabalho </b></h3>
        </div>
        <div>
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a aria-controls="Passo1" href="#Passo1" role="tab" data-toggle="tab">Passo 1</a></li>
                <li role="presentation"><a aria-controls="Passo2" href="#Passo2" role="tab" data-toggle="tab">Passo 2</a></li>
                <li role="presentation"><a aria-controls="Passo3" href="#Passo3" role="tab" data-toggle="tab">Passo 3</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active margin-top-30" id="Passo1">

                    <div class="margin-top-30 form-group">
                        <h4>
                            <span class="fa fa-warning"></span><b> Confira atentamente o evento no qual irá participar, pois as regras de submissão são diferentes para cada evento.</b>
                        </h4>
                    </div>

                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Evento: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <b>@Model.Evento.EventoNome</b>
                        </div>
                    </div>
                    @if (Model.Evento.Id == 2 || Model.Evento.Id == 3 || Model.Evento.Id == 4)
                    {
                        <div class="form-group row">
                            <div class="float-left margin-left-40" style="width:250px;">
                                <label>Nome da escola: </label>
                            </div>

                            <div class="float-left margin-left-75">
                                <input type="text" asp-for="NomeEscola" value="@Model.NomeEscola" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="float-left margin-left-40" style="width:250px;">
                                <label>Cidade da escola: </label>
                            </div>

                            <div class="float-left margin-left-75">
                                <input type="text" asp-for="CidadeEscola" value="@Model.CidadeEscola" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="float-left margin-left-40" style="width:250px;">
                                <label>Telefone da escola: </label>
                            </div>

                            <div class="float-left margin-left-75">
                                <input type="text" id="Telefone" asp-for="TelefoneEscola" value="@Model.TelefoneEscola" required />
                            </div>
                        </div>

                    }

                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Area de conhecimento: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <select class="form-control" name="AreaConhecimento" value="@Model.AreaConhecimento" id="dropArea">
                                <option disabled selected>Selecione uma área</option>
                                @foreach (var areas in Model.AreasConhecimento)
                                {
                                    <option value="@areas.Id"> @areas.Area</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Subarea: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <select class="form-control" name="SubAreaId" value="@Model.SubAreaId" id="dropSubArea">
                                <option disabled selected>Selecione uma subarea</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Periodo apresentação: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <select class="form-control" name="PeriodoApresentacao" value="@Model.PeriodoApresentacao" id="dropArea">
                                <option disabled selected>Selecione um periodo</option>
                                @foreach (var periodos in Model.Periodos)
                                {
                                    <option value="@periodos.Id"> @periodos.PeriodoNome</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>O trabalho é financiado por alguma agência? </label>
                        </div>
                        <div class="float-left margin-left-75">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="checkFinanciado" asp-for="TrabalhoFinanciado" checked="@((Model.TrabalhoFinanciado) ? true : false)" />

                                <label class="onoffswitch-label" for="checkFinanciado">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>


                    <div id="Financiado" style="display: none" class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px">
                            <label>Agencia Financiadora:</label>
                        </div>
                        <div class="float-left margin-left-75">
                            <select class="form-control" name="AgenciaId" value="@Model.AgenciaId">
                                <option value="0">Selecione a agência financiadora</option>
                                @foreach(var agencia in Model.Agencias)
                                {
                                    <option value="@agencia.Id">@agencia.AgenciaNome</option>

                                }
                            </select>
                        </div>
                    </div>
                    <hr />
                    <b>Atenção: Caso seu trabalho envolva seres humanos deverão estar aprovadas por Comitê de Ética registrado junto à CONEP/CNS/MS. E o campo abaixo deve ser preenchido.</b>

                    <div class="form-group row margin-top-20">
                        <div class="float-left margin-left-40" style="width: 250px">
                            <label>Código CEP (Comitê de Ética em Pesquisa): </label>
                        </div>
                        <div class="float-left margin-left-75">
                            <input type="text" name="CodigoCEP" value="@Model.CodigoCEP" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group margin-top-10">
                        <button class="btn btn-primary float-right next">Avançar</button>
                    </div>
                </div>




                <div role="tabpanel" class="tab-pane" id="Passo2">

                    @if (Model.Evento.Id == 2 || Model.Evento.Id == 3 || Model.Evento.Id == 4)
                    {
                        <div class="margin-top-30 form-group">
                            <h4>
                                <span class="fa fa-warning"></span>
                                <b>
                                    Você é o Professor orientador do trabalho;<br />
                                    O trabalho deve ter entre 1 e 7 alunos.
                                </b>
                            </h4>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="porNome">
                            <div class="form-group margin-top-10 row">
                                <input style="width:350px !important" placeholder="Digite o nome desejado" name="Aluno" value="@Model.Aluno" /> <button class="btn btn-primary">Cadastrar</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="margin-top-30 form-group">
                            <h4>
                                <span class="fa fa-warning"></span>
                                <b>
                                    Você é o Autor Principal do trabalho;<br />
                                    Cada trabalho poderá ter até 7 (sete) autores (Autor Principal, Orientador e Coautores);
                                    O trabalho terá obrigatoriamente 1 (um) orientador.
                                </b>
                            </h4>
                            <h5>Para cadastrar um participante use uma das opções a baixo</h5>
                        </div>

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#porEmail" aria-controls="porEmail" role="tab" data-toggle="tab">Por Email</a></li>
                            <li role="presentation"><a href="#porNome" aria-controls="porNome" role="tab" data-toggle="tab">Por Nome</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="porEmail">
                                <div class="form-group margin-top-10 row">
                                    <input style="width:350px !important" placeholder="Digite o email desejado" /> <button class="btn btn-primary">Cadastrar</button>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="porNome">
                                <div class="form-group margin-top-10 row">
                                    <input style="width:350px !important" placeholder="Digite o nome desejado" name="Autor" value="@Model.Autor" /> <button class="btn btn-primary">Cadastrar</button>
                                </div>
                            </div>
                            <div class="form-group row margin-top-10">
                                <b>Autor Principal: </b>
                            </div>
                            <div class="form-group row margin-top-10">
                                <b>Orientador: </b>
                            </div>
                            <div class="form-group row margin-top-10">
                                <b>CoAutores: </b>
                            </div>
                        </div>

                    }

                    <hr />
                    <div class="form-group margin-top-10">
                        <button class="btn btn-primary float-left prev">Voltar</button>
                        <button class="btn btn-primary float-right next">Avançar</button>
                    </div>
                </div>



                <div role="tabpanel" class="tab-pane" id="Passo3">
                    <div class="form-group margin-top-10 row">
                        <p><b>Titulo: </b></p>
                        <textarea style="height:40px!important" asp-for="Titulo" value="@Model.Titulo" required></textarea>
                    </div>
                    @if (Model.Evento.Id == 7)
                    {
                        <div class="form-group margin-top-10 row">
                            <p><b>Resumo: </b></p>
                            <textarea asp-for="Resumo" value="@Model.Resumo" required></textarea>
                        </div>

                    }
                    <div class="form-group margin-top-10 row">
                        <p><b>Introdução: </b></p>
                        <textarea asp-for="Introducao" value="@Model.Introducao" required></textarea>
                    </div>
                    @if (Model.Evento.Id == 8)
                    {
                        <div class="form-group margin-top-10 row">
                            <p><b>Objetivos do projeto: </b></p>
                            <textarea asp-form="Objetivo" value="@Model.Objetivo" required></textarea>
                        </div>

                    }
                    <div class="form-group margin-top-10 row">
                        <p><b>Metodologia: </b></p>
                        <textarea asp-for="Metodologia" value="@Model.Metodologia" required></textarea>
                    </div>
                    <div class="form-group margin-top-10 row">
                        <p><b>Resultados: </b></p>
                        <textarea asp-for="Resultados" value="@Model.Resultados" required></textarea>
                    </div>
                    <div class="form-group margin-top-10 row">
                        <div class="float-left">
                            <p><b>Figuras: </b></p>
                        </div>
                        <div class="float-left margin-left-10">
                            <button class="btn btn-primary"><span class="fa fa-file-image-o" aria-hidden="true"></span> Adicionar</button>
                        </div>
                    </div>
                    @if (Model.Evento.Id != 8)
                    {
                        <div class="form-group margin-top-10 row">
                            <p><b>Conclusão: </b></p>
                            <textarea asp-for="Conclusao" value="@Model.Conclusao" required></textarea>
                        </div>

                        <div class="form-group margin-top-10 row">
                            <p><b>Referências bibliográficas: </b></p>
                            <textarea asp-for="Referencias" value="@Model.Referencias" required></textarea>
                        </div>

                        <div class="form-group margin-top-10 row">
                            <p><b>Palavras chave: </b></p>
                            <textarea asp-for="PalavrasChave" style="height:40px!important" value="@Model.PalavrasChave" required></textarea>
                        </div>
                    }
                    <div class="form-group margin-top-10">
                        <button class="btn btn-primary float-left prev">Voltar</button>
                        <button class="btn btn-primary float-right">Cadastrar</button>
                    </div>
                </div>

            </div>
        </div>
    </form>


</body>

<script type="text/javascript">
    $("#checkFinanciado").on("change", function () {
        if ($(this).is(":checked")) {
            $("#Financiado").css("display", "block");
        } else {
            $("#Financiado").css("display", "none");

        }
    });

    $(document).ready(function () {

        $('.nav-pills li').not('.active').addClass('disabled');
        $('.nav-pills li').not('.active').find('a').removeAttr("data-toggle");

        $('button.next').click(function () {

            $('.nav-pills li.active').next('li').removeClass('disabled');
            $('.nav-pills li.active').next('li').find('a').attr("data-toggle", "tab").trigger("click");
            $('.nav-pills li').prev('li').find('a').removeAttr("data-toggle");
            $('.nav-pills li').prev('li').addClass('disabled');
        });

        $('button.prev').click(function () {
            $('.nav-pills li.active').prev('li').find('a').attr("data-toggle", "tab").trigger("click");
            $('.nav-pills li.active').prev('li').find('a').trigger("click");
            $('.nav-pills li').next('li').find('a').removeAttr("data-toggle");
            $('.nav-pills li').next('li').addClass('disabled');
        });
    });


    $('#dropArea').subArea($('#dropSubArea'));

    $("#Telefone").mask("(99) 9999-9999");
</script>