@model CICTED.Domain.ViewModels.Autor.CadastroTrabalhoViewModel
@{
    Layout = "_Menu";
}
<title>Cadastro de Trabalho - CICTED</title>
<body>

    <form class="form-cadTrabalho" asp-controller="Trabalho" asp-action="Cadastro/@Model.Evento.Id" method="post">
        <div class="row form-group" style="text-align:center">
            <h3><span class="fa fa-book"></span><b> Cadastrar trabalho </b></h3>
        </div>
        <div>
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a aria-controls="Passo1" href="#Passo1" role="tab" data-toggle="tab">Passo 1</a></li>
                <li role="presentation"><a aria-controls="Passo2" href="#Passo2" role="tab" data-toggle="tab">Passo 2</a></li>
                <li role="presentation"><a aria-controls="Passo3" href="#Passo3" role="tab" data-toggle="tab">Passo 3</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active margin-top-30" id="Passo1">

                    <div class="margin-top-30 form-group">
                        <h4>
                            <span class="fa fa-warning"></span><b> Confira atentamente o evento no qual irá participar, pois as regras de submissão são diferentes para cada evento.</b>
                        </h4>
                    </div>

                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Evento: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <b>@Model.Evento.EventoNome</b>
                        </div>
                    </div>
                    @if (Model.Evento.Id == 2 || Model.Evento.Id == 3 || Model.Evento.Id == 4)
                    {
                        <div class="form-group row">
                            <div class="float-left margin-left-40" style="width:250px;">
                                <label>Nome da escola: </label>
                            </div>

                            <div class="float-left margin-left-75">
                                <input type="text" asp-for="NomeEscola" value="@Model.NomeEscola" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="float-left margin-left-40" style="width:250px;">
                                <label>Cidade da escola: </label>
                            </div>

                            <div class="float-left margin-left-75">
                                <input type="text" asp-for="CidadeEscola" value="@Model.CidadeEscola" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="float-left margin-left-40" style="width:250px;">
                                <label>Telefone da escola: </label>
                            </div>

                            <div class="float-left margin-left-75">
                                <input type="text" id="Telefone" asp-for="TelefoneEscola" value="@Model.TelefoneEscola" required />
                            </div>
                        </div>

                    }

                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Area de conhecimento: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <select class="form-control" name="AreaConhecimento" value="@Model.AreaConhecimento" id="dropArea">
                                <option disabled selected>Selecione uma área</option>
                                @foreach (var areas in Model.AreasConhecimento)
                                {
                                    <option value="@areas.Id"> @areas.Area</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Subarea: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <select class="form-control" name="SubAreaId" value="@Model.SubAreaId" id="dropSubArea">
                                <option disabled selected>Selecione uma subarea</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>Periodo apresentação: </label>
                        </div>

                        <div class="float-left margin-left-75">
                            <select class="form-control" name="PeriodoApresentacao" value="@Model.PeriodoApresentacao" id="dropArea">
                                <option disabled selected>Selecione um periodo</option>
                                @foreach (var periodos in Model.Periodos)
                                {
                                    <option value="@periodos.Id"> @periodos.PeriodoNome</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px;">
                            <label>O trabalho é financiado por alguma agência? </label>
                        </div>
                        <div class="float-left margin-left-75">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="checkFinanciado" asp-for="TrabalhoFinanciado" checked="@((Model.TrabalhoFinanciado) ? true : false)" />

                                <label class="onoffswitch-label" for="checkFinanciado">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>


                    <div id="Financiado" style="display: none" class="form-group row">
                        <div class="float-left margin-left-40" style="width:250px">
                            <label>Agencia Financiadora:</label>
                        </div>
                        <div class="float-left margin-left-75">
                            <select class="form-control" name="AgenciaId" value="@Model.AgenciaId">
                                <option value="0">Selecione a agência financiadora</option>
                                @foreach (var agencia in Model.Agencias)
                                {
                                    <option value="@agencia.Id">@agencia.AgenciaNome</option>

                                }
                            </select>
                        </div>
                    </div>
                    <hr />
                    <b>Atenção: Caso seu trabalho envolva seres humanos deverão estar aprovadas por Comitê de Ética registrado junto à CONEP/CNS/MS. E o campo abaixo deve ser preenchido.</b>

                    <div class="form-group row margin-top-20">
                        <div class="float-left margin-left-40" style="width: 250px">
                            <label>Código CEP (Comitê de Ética em Pesquisa): </label>
                        </div>
                        <div class="float-left margin-left-75">
                            <input type="text" name="CodigoCEP" value="@Model.CodigoCEP" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group margin-top-10">
                        <button class="btn btn-primary float-right next">Avançar</button>
                    </div>
                </div>




                <div role="tabpanel" class="tab-pane" id="Passo2">

                    @if (Model.Evento.Id == 2 || Model.Evento.Id == 3 || Model.Evento.Id == 4)
                    {
                        <div class="margin-top-30 form-group">
                            <h4>
                                <span class="fa fa-warning"></span>
                                <b>
                                    Você é o Professor orientador do trabalho;<br />
                                    O trabalho deve ter entre 1 e 7 alunos.
                                </b>
                            </h4>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="porNome">
                            <div class="form-group margin-top-10 row">
                                <input style="width:350px !important" placeholder="Digite o nome desejado" name="AlunoNome" value="@Model.AlunoNome" /> <button class="btn btn-primary">Cadastrar</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="margin-top-30 form-group">
                            <h4>
                                <span class="fa fa-warning"></span>
                                <b>
                                    Você é o Autor Principal do trabalho;<br />
                                    Cada trabalho poderá ter até 7 (sete) autores (Autor Principal, Orientador e Coautores);
                                    O trabalho terá obrigatoriamente 1 (um) orientador.
                                </b>
                            </h4>
                            <h5>Para cadastrar um participante use uma das opções a baixo</h5>
                        </div>

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#porEmail" aria-controls="porEmail" role="tab" data-toggle="tab">Por Email</a></li>
                            <li role="presentation"><a href="#porNome" aria-controls="porNome" role="tab" data-toggle="tab">Por Nome</a></li>
                        </ul>


                        <div class="tab-content">
                            @*EMAIL*@
                            <div role="tabpanel" class="tab-pane active " id="porEmail">
                                <div class="form-group margin-top-10 row">

                                    <input autocomplete="off" class="input-add-autor" type="text" value="" id="input-email" placeholder="Email do coautor" />

                                    <a id="button-cadastrar-email" class="btn btn-primary">Cadastrar</a>
                                </div>
                            </div>


                            @*NOME*@
                            <div role="tabpanel" class="tab-pane" id="porNome">
                                <div class="form-group margin-top-10 row add-autor">
                                    <input value="" autocomplete="off" class="input-nome input-add-autor" type="text" style="width:350px !important" placeholder="Nome do coautor" />

                                    <div style="height:0px;" class="busca float-left">
                                        <ul id="lista-nomes"></ul>
                                    </div>

                                    <a id="adicionar-nome" class="btn btn-primary">Adicionar</a>
                                </div>
                            </div>

                            <table class="table-trabalho">

                                @*AUTOR PRINCIPAL*@
                                <tr>
                                    <td>
                                        <b class="margin-right-40">Autor Principal: </b>
                                    </td>
                                    <td>
                                        <div class="float-left">
                                            <span class="fa fa-check-circle color-aprovado"></span>
                                            @Model.AutorPrincipal.Nome @Model.AutorPrincipal.Sobrenome
                                            <b>@Model.AutorPrincipal.Email</b>
                                            <input id="autor-principal" style="visibility:hidden; width: 1px;" value="@Model.AutorPrincipal.Id" />

                                        </div>
                                    </td>
                                </tr>

                                @*COAUTORES*@
                                <tr>
                                    <td>
                                        <b class="margin-right-40">Coautes: </b>
                                    </td>

                                    <td id="coautores" name="coautores"></td>
                                </tr>


                                @*ORIENTADOR*@
                                <tr>
                                    <td><b>Orientador: </b></td>

                                    <td id="orientador"></td>
                                </tr>
                            </table>
                        </div>
                    }

                    <hr />
                    <div class="form-group margin-top-10">
                        <button class="btn btn-primary float-left prev">Voltar</button>
                        <button class="btn btn-primary float-right next">Avançar</button>
                    </div>
                </div>



                <div role="tabpanel" class="tab-pane" id="Passo3">
                    <div class="form-group margin-top-10 row">
                        <p><b>Titulo: </b></p>
                        <textarea style="height:40px!important" asp-for="Titulo" value="@Model.Titulo" required></textarea>
                    </div>
                    @if (Model.Evento.Id == 7)
                    {
                        <div class="form-group margin-top-10 row">
                            <p><b>Resumo: </b></p>
                            <textarea asp-for="Resumo" value="@Model.Resumo" required></textarea>
                        </div>

                    }
                    <div class="form-group margin-top-10 row">
                        <p><b>Introdução: </b></p>
                        <textarea asp-for="Introducao" value="@Model.Introducao" required></textarea>
                    </div>
                    @if (Model.Evento.Id == 8)
                    {
                        <div class="form-group margin-top-10 row">
                            <p><b>Objetivos do projeto: </b></p>
                            <textarea asp-form="Objetivo" value="@Model.Objetivo" required></textarea>
                        </div>

                    }
                    <div class="form-group margin-top-10 row">
                        <p><b>Metodologia: </b></p>
                        <textarea asp-for="Metodologia" value="@Model.Metodologia" required></textarea>
                    </div>
                    <div class="form-group margin-top-10 row">
                        <p><b>Resultados: </b></p>
                        <textarea asp-for="Resultados" value="@Model.Resultados" required></textarea>
                    </div>
                    <div class="form-group margin-top-10 row">
                        <div class="float-left">
                            <p><b>Figuras: </b></p>
                        </div>
                        <div class="float-left margin-left-10">
                            <button class="btn btn-primary"><span class="fa fa-file-image-o" aria-hidden="true"></span> Adicionar</button>
                        </div>
                    </div>
                    @if (Model.Evento.Id != 8)
                    {
                        <div class="form-group margin-top-10 row">
                            <p><b>Conclusão: </b></p>
                            <textarea asp-for="Conclusao" value="@Model.Conclusao" required></textarea>
                        </div>

                        <div class="form-group margin-top-10 row">
                            <p><b>Referências bibliográficas: </b></p>
                            <textarea asp-for="Referencias" value="@Model.Referencias" required></textarea>
                        </div>

                        <div class="form-group margin-top-10 row">
                            <p><b>Palavras chave: </b></p>
                            <textarea asp-for="PalavrasChave" style="height:40px!important" value="@Model.PalavrasChave" required></textarea>
                        </div>
                    }
                    <div class="form-group margin-top-10">
                        <button class="btn btn-primary float-left prev">Voltar</button>
                        <button class="btn btn-primary float-right">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


</body>

<script type="text/javascript">

    var idAutorPrincipal = $("#autor-principal").val();


    var autores = new Array();


    //autores.push(idAutorPrincipal);
    autores.push({
        id: idAutorPrincipal,
        status: 5,
        orientador: false,
    });


    //ids.push(idAutorPrincipal);
    //ids.push(8);


    //pesquisa os autores para mostrar os nomes de opção
    $(".input-nome").keyup(function () {
        var valor = $(this).val();
        if (valor.trim() == "") {
            $("#lista-nomes").empty();
        }

        if (valor.length > 2) {
            $("#lista-nomes").html(' ');
            $.ajax({
                url: '/trabalho/pesquisa/autor',
                type: 'get',
                data: {
                    busca: valor
                },
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#lista-nomes").append('<li><a class="selectautor" data-status="' + item.statusId + '" data-email="' + item.email + '" data-id="' + item.id + '">' + item.nome.toUpperCase() + ' ' + item.sobrenome.toUpperCase() + '</a>' +
                            '<ul><li>Email: ' + item.email + '<br />Instituição:' + item.instituicao + '</li></ul></li>');
                    })
                },
            })
        }
    });

    var id = 0;

    //seleciona o nome, preenche input
    $('body').on("click", ".selectautor", function () {
        id = $(this).data("id");
        email = $(this).data("email");
        status = $(this).data("status")
        var nome = $(this).text();
        $(".input-nome").val(nome);
        $(".input-nome").attr('id', id);
        $(".input-nome").attr('data-email', email);
        $(".input-nome").attr('data-status', status);
        $("#lista-nomes").empty();
    });


    //verifica se o autor ja esta no trabalho, se nao, adiciona
    $("#adicionar-nome").on("click", function () {
        var userId = $(".input-nome").attr("id");
        var id = $("#coautores");
        var name = "coautoresId";

        if ($.trim($("#orientador").html()) == '') {
            id = ($("#orientador"));
            name = "orientadorId";
        }

        var qtdCoautores = $("div[id *= autor]").length - 1;

        if (qtdCoautores >= 5) {
            $("#getCodeModal").modal('show');
        }
        else {
            for (var i in autores) {
                if (autores[i].id == userId) {                    
                    return alert("encontrei");
                    //modal falando que o autor ja esta incrito no trabalho
                }
            }

            var email = $(".input-nome").attr("data-email");
            var nome = $(".input-nome").val();

            autores.push({
                id: userId,
                status: 2,
                orientador: orientador
            });

            id.attr("data-id", "autor-" + userId);


            id.append('<div style="width:500px" id="autor-' + userId + '"><span class="fa fa-clock-o color-submissao"></span> ' + nome + '<b> ' + email + '</b><a class="deleta-autor" onclick="deletarAutor(' + userId + ')" value="' +
                                userId + '"><span class="fa fa-times margin-left-20 link"></span></a>' +
                                '<input style = "visibility:hidden;float: right;width: 1px;" value="' + userId + '" /></div>');

        }
        $(".input-nome").val("");
    });
    //

    function deletarAutor(id) {
        $(document).ready(function () {
            $("#autor-" + id).remove();
            var orientador = $("#orientador");

            for (var i in autores) {
                if (autores[i].id == id) {
                    delete autores[i];
                    break;
                    //modal falando que o autor ja esta incrito no trabalho
                }
            }

            if ($.trim($("#orientador").html()) == '') {
                $(("#input-email")).attr("placeholder", "Email do orientador");
                $((".input-nome")).attr("placeholder", "Nome do orientador");
            }
            else {
                $((".input-nome")).attr("placeholder", "Nome do coautor");
                $(("#input-email")).attr("placeholder", "Email do coautor");
            }
            
        });
    }




    $("#checkFinanciado").on("change", function () {
        if ($(this).is(":checked")) {
            $("#Financiado").css("display", "block");
        } else {
            $("#Financiado").css("display", "none");

        }
    });

    $(document).ready(function () {

        $('.nav-pills li').not('.active').addClass('disabled');
        $('.nav-pills li').not('.active').find('a').removeAttr("data-toggle");

        $('button.next').click(function () {

            $('.nav-pills li.active').next('li').removeClass('disabled');
            $('.nav-pills li.active').next('li').find('a').attr("data-toggle", "tab").trigger("click");
            $('.nav-pills li').prev('li').find('a').removeAttr("data-toggle");
            $('.nav-pills li').prev('li').addClass('disabled');
        });

        $('button.prev').click(function () {
            $('.nav-pills li.active').prev('li').find('a').attr("data-toggle", "tab").trigger("click");
            $('.nav-pills li.active').prev('li').find('a').trigger("click");
            $('.nav-pills li').next('li').find('a').removeAttr("data-toggle");
            $('.nav-pills li').next('li').addClass('disabled');
        });
    });


    $(".autor-delete").on("click", function () {
        var id = $(this).attr("data-id");

        $.ajax({
            //url: '/product/delete/picture',
            //type: 'post',
            //data: {
            //    id: id
            //},

            success: function () {
                $("#autor-" + id).remove();
                var orientador = ($(".orientador"));

                if (orientador.length == 0) {
                    $(("#input-email")).attr("placeholder", "Email do orientador");
                    $(("#input-nome")).attr("placeholder", "Nome do orientador");
                } else {
                    $(("#input-nome")).attr("placeholder", "Nome do coautor");
                    $(("#input-email")).attr("placeholder", "Email do coautor");
                }

                alert("DEU  ");
            },
            error: function (x, y, message) {
                alert("ERROOOU  " + message);
            },
        });
    });

    $('#dropArea').subArea($('#dropSubArea'));
    $("#Telefone").mask("(99) 9999-9999");
</script>