@model List<CICTED.Domain.ViewModels.Trabalho.ConsultaTrabalho>

@{
    Layout = "_Menu";
}

<title>Trabalhos - CICTED</title>

<div class="form-consultTrabAdm">
    <h3 style="font-weight: bold"><span class="fa fa-book"></span> Consultar Trabalhos</h3>

    <div class="form-group">
        Pesquisar Autor: <input class="input-consulta-trab-adm" id="autor-nome" style="width:350px !important" placeholder="Digite o nome do autor" autocomplete="off" />
        <div style="height:0px; display:none" class="busca float-left">
            <ul id="lista-nomes"></ul>
        </div>
        <button class="btn btn-primary margin-left-10">Pesquisar</button>
    </div>
    <hr />
    <table class="tabela-trabalho" style="margin:0 0 auto" border="1">
        <tr>
            <th style="width: 80px !important" class="form-group"></th>
            <th>
                Identificação <br />
                <input style="width:130px !important" class="input-consulta-trab-adm" />
            </th>
            <th>
                Evento <br />
                <input style="width:90px !important" class="input-consulta-trab-adm" />
            </th>
            <th>
                Área <br />
                <input style="width:150px !important" class="input-consulta-trab-adm" />
            </th>
            <th>
                Subarea <br />
                <input style="width:210px !important" class="input-consulta-trab-adm" />
            </th>
            <th>
                Status <br />
                <input style="width:130px !important" class="input-consulta-trab-adm" />
            </th>
        </tr>

        @foreach (var trabalhos in Model)
        {
            <tr>
            <td><a class="fa fa-search link trabalho" data-toggle="modal" data-target="#myModal" data-id="@trabalhos.Id"></a></td>

            <td>@trabalhos.Identificacao</td>

            <td>@trabalhos.EventoNome</td>

            <td>@trabalhos.AreaConhecimentoNome</td>

                <td>@trabalhos.SubAreaConhecimentoNome</td>

                <td>
                    @if (trabalhos.StatusTrabalhoId == 1)
                    {
                        <span style="font-size:18px" class="fa fa-check-circle color-aprovado"> Aprovado</span>
                    }
                    @if (trabalhos.StatusTrabalhoId == 2)
                    {
                        <span style="font-size:18px" class="fa fa-times-circle color-reprovado"> Reprovado</span>
                    }
                    @if (trabalhos.StatusTrabalhoId == 3)
                    {
                        <span style="font-size:18px" class="fa fa-clock-o color-submissao"> Aguardando Submissão</span>
                    }
                    @if (trabalhos.StatusTrabalhoId == 4)
                    {
                        <span style="font-size:18px" class="fa fa-exclamation-circle color-avaliacao"> Aguardando Avaliação</span>
                    }
                </td>
                </tr>
        }
    </table>

    <hr />

    <h5>
        <b>Legenda:</b>
        <span class="fa fa-clock-o margin-left-10 color-submissao"></span> Aguardando Submissão
        <span class="fa fa-exclamation-circle margin-left-10 color-avaliacao"></span> Aguardando Avaliação
        <span class="fa fa-check-circle margin-left-10 color-aprovado"></span> Aprovado
        <span class="fa fa-times-circle margin-left-10 color-reprovado"></span> Reprovado
    </h5>

    <div id="myModal" class="modal fade" role="dialog">
        <div style="width:70%" class="modal-dialog">
            <div style="padding:10px" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 style="font-weight:bold"><span class="fa fa-book"></span> Dados do trabalho</h3>
                    <hr />

                    <h4><b><span class="fa fa-id-card-o"></span> Dados</b></h4>
                    <table class="table-trabalho">
                        <tr><td><b class="margin-right-40">Identificação: </b></td><td id="identificacao"></td></tr>
                        <tr><td><b>Área: </b></td><td id="area"></td></tr>
                        <tr><td><b>Subárea: </b></td><td id="subarea"></td></tr>
                        <tr><td><b>Evento: </b></td><td id="evento"></td></tr>
                        <tr><td><b>Status: </b></td><td id="status"></td></tr>
                        <tr><td><b>Data Cadastro: </b></td><td id="data-cadastro"></td></tr>
                        <tr><td><b>Data Submissão: </b></td><td id="data-submissao"></td></tr>
                    </table>
                    <hr />

                    <div style="width:100%; height:50px">
                        <h4 class="float-left"><b><span class="fa fa-child"></span> Autor</b></h4>
                    </div>
                    <table class="table-trabalho">
                        <tr><td><b class="margin-right-40">Autor Principal: </b></td><td id="autor-principal"></td></tr>
                        <tr>
                            <td>
                                <b id="tipo-autor">Coautor: </b>
                            </td>
                            <td id="outros-autores"></td>
                        </tr>
                        <tr>
                            <td><b>Orientador: </b></td>
                            <td id="orientador"></td>
                        </tr>
                    </table>
                    <hr />

                    <div style="width:100%; height:50px">
                        <h4 class="float-left"><b><span class="fa fa-file-text-o"></span> Trabalho</b></h4>
                    </div>
                    <h4 style="text-align:center" id="titulo"></h4>

                    <b>Introdução:</b>
                    <h5 id="introducao"></h5>

                    <b>Metodologia:</b>
                    <h5 id="metodologia"></h5>

                    <b>Resultados:</b>
                    <h5 id="resultados"></h5>

                    <b>Conclusão:</b>
                    <h5 id="conclusao"></h5>

                    <b>Referências Bibliográficas: </b>
                    <h5 id="referencia"></h5>

                    <b>Palavras-chaves: </b>
                    <h5 id="palavras-chave"> </h5>
                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(".trabalho").on("click", function () {
        var trabalho = $(this);
        var id = trabalho.attr("data-id");

        $.ajax({
            url: '/trabalho/informacao',
            type: 'get',
            data: {
                id: id
            },

            success: function (data) {
                $('#identificacao').text(data.identificacao);
                $('#area').text(data.areaConhecimento);
                $('#subarea').text(data.subArea);
                $('#evento').text(data.eventoNome);
                $('#status').text(data.status);
                $('#data-cadastro').text(data.dataCadastro.toString('dd/MM/yyyy'));

                if (data.statusTrabalhoId != 3) {
                    $('#data-submissao').text(data.dataSubmissao);
                }

                $('#data-submissao').text(data.subarea);

                $('#outros-autores').html('');

                $.each(data.autores, function (i, item) {
                    var status;


                    if (item.status == 1) {
                        status = '<span class="fa fa-check-circle color-aprovado"></span>';
                    }
                    else if (item.status == 2) {
                        status = '<span class="fa fa-clock-o color-submissao"></span>';
                    }
                    else if (item.status == 3) {
                        status = '<span class="fa fa-clock-o color-avaliacao"></span>';
                    }
                    else if (item.status == 4) {
                        status = '<span class="fa fa-times-circle color-reprovado"></span>';
                    }

                    if (item.orientador == true) {
                        $('#orientador').html(item.nome + ' ' + item.sobrenome + '<b> ' + item.email + '</b> ');
                    } else if (item.status == 1) {
                        $('#autor-principal').html(item.nome + ' ' + item.sobrenome + '<b> ' + item.email + '</b> ');
                    } else {
                        $('#tipo-autor').text('Coautor: ');
                        $('#outros-autores').append('<div style="width:100%">' + item.nome + ' ' + item.sobrenome + '<b> ' + item.email + '</b> ' + '</div>');
                    }

                });


                $('#titulo').html("<b>" + data.titulo + "</b>");
                $('#introducao').text(data.introducao);
                $('#metodologia').text(data.metodologia);
                $('#resultado').text(data.resultado);
                $('#referencia').text(data.referencia);
                $('#palavras-chave').text(data.palavrasChave);

            },

        });
    });

    $("#autor-nome").on("input change", function () {
        var valor = $(this).val();
        $("#lista-nomes").html(' ');
        $.ajax({
            url: '/trabalho/busca/autor',
            type: 'get',
            data: {
                busca: valor
            },

            success: function (data) {
                $.each(data, function (i, item) {
                    $("#lista-nomes").append('<li><a>' + item.nome.toUpperCase() + ' ' + item.sobrenome.toUpperCase() + '</a>' +
                        '<ul><li>Email: ' + item.email + '<br />Instituição:' + item.instituicao + '</li></ul></li>');

                })
            },
        })
    });

    $(".autor-select").on("click", function () {
        var id = $(this).attr("data-id");

        $.ajax({
            //url: '/product/delete/picture',
            //type: 'post',
            //data: {
            //    id: id
            //},

            success: function () {
                $("#autor-" + id).select();
                var orientador = ($(".orientador"));

                if (orientador.length == 0) {
                    $(("#input-email")).attr("placeholder", "Email do orientador");
                    $(("#input-nome")).attr("placeholder", "Nome do orientador");
                } else {
                    $(("#input-nome")).attr("placeholder", "Nome do coautor");
                    $(("#input-email")).attr("placeholder", "Email do coautor");
                }

                alert("DEU  ");
            },
            error: function (x, y, message) {
                alert("ERROOOU  " + message);
            },
        });
    });

</script>
