@model List<CICTED.Domain.ViewModels.Trabalho.ConsultaTrabalho>

@{
    Layout = "_Menu";
}

<title>Trabalhos - CICTED</title>

<div class="form-consultTrabAdm">
    <h3 style="font-weight: bold"><span class="fa fa-book"></span> Consultar Trabalhos</h3>

    <div class="form-group">
        Pesquisar Autor: <input class="input-add-autor">
        <button class="btn btn-primary margin-left-10">Pesquisar</button>
    </div>

    <table class="tabela-trabalho" style="margin:0 0 auto" border="1">
        <tr>
            <th style="width: 80px !important" class="form-group"></th>
            <th>
                Identificação <br />
                <input style="width:130px !important" class="input-add-autor"></input>
            </th>
            <th>
                Evento <br />
                <input style="width:90px !important" class="input-add-autor"></input>
            </th>
            <th>
                Área <br />
                <input style="width:150px !important" class="input-add-autor"></input>
            </th>
            <th>
                Subarea <br />
                <input style="width:210px !important" class="input-add-autor"></input>
            </th>
            <th>
                Status <br />
                <input style="width:130px !important" class="input-add-autor"></input>
            </th>
        </tr>

        @foreach (var trabalhos in Model)
        {
            <td><a class="fa fa-search link trabalho" data-toggle="modal" data-target="#myModal" data-id="@trabalhos.Id"></a></td>

            <td>@trabalhos.Identificacao</td>

            <td>@trabalhos.EventoNome</td>

            <td>@trabalhos.AreaConhecimentoNome</td>

            <td>@trabalhos.SubAreaConhecimentoNome</td>

            <td>
                @if (trabalhos.StatusTrabalhoId == 1)
                {
                    <span style="font-size:18px" class="fa fa-check-circle color-aprovado"> Aprovado</span>
                }
                @if (trabalhos.StatusTrabalhoId == 2)
                {
                    <span style="font-size:18px" class="fa fa-times-circle color-reprovado"> Reprovado</span>
                }
                @if (trabalhos.StatusTrabalhoId == 3)
                {
                    <span style="font-size:18px" class="fa fa-clock-o color-submissao"> Aguardando Submissão</span>
                }
                @if (trabalhos.StatusTrabalhoId == 4)
                {
                    <span style="font-size:18px" class="fa fa-exclamation-circle color-avaliacao"> Aguardando Avaliação</span>
                }
            </td>
        }
    </table>
    <h5>
        <b>Legenda:</b>
        <span class="fa fa-clock-o margin-left-10 color-submissao"></span> Aguardando Submissão
        <span class="fa fa-exclamation-circle margin-left-10 color-avaliacao"></span> Aguardando Avaliação
        <span class="fa fa-check-circle margin-left-10 color-aprovado"></span> Aprovado
        <span class="fa fa-times-circle margin-left-10 color-reprovado"></span> Reprovado
    </h5>

</div>