@model CICTED.Domain.ViewModels.Organizador.DashboardViewModel

@{
    Layout = "_Menu";
}

<div class="form-group dashboard">
    <h2 style="text-align:center"><b>Dashboard</b></h2>
    <div class="form-group row margin-top-20" style="text-align:center">
        <div class="margin-left-30 float-left margin-top-10">
            <h4><b>Eventos: </b></h4>
        </div>

        <div class="float-left margin-left-20 margin-top-20">
            <a class="dashboard-linkClicked">TODOS</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="1">ENIC</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="2">ENIC JR</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="3">ENIC TEEN</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="4">ENIC KIDS</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="5">MIPG</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="6">SEDUNI</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="7">SEMEX</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link evento" data-id="8">PP&I</a>
        </div>
    </div>
    <div class="form-group margin-top-30 margin-left-75">
        <div class="form-group float-left">
            <input id="cadastrados" hidden name="Cadastrados" value="@Model.Cadastrados" /> <h1 class="margin-left-30"><b>@Model.Cadastrados</b></h1>
            <h4>Cadastrados</h4>
        </div>

        <div class="form-gorup float-left margin-left-50">
            <input hidden name="Submetidos" value="@Model.Submetidos" /> <h1 class="margin-left-30"><b>@Model.Submetidos</b></h1>
            <h4>Submetidos</h4>
        </div>

        <div class="form-gorup float-left margin-left-50">
            <input hidden name="Avalidos" value="@Model.Avaliados" /> <h1 class="margin-left-30"><b>@Model.Avaliados</b></h1>
            <h4>Avaliados</h4>
        </div>

        <div class="form-gorup float-left margin-left-50">
            <input hidden name="Aprovados" value="@Model.Aprovados" /> <h1 class="margin-left-30"><b>@Model.Aprovados</b></h1>
            <h4>Aprovados</h4>
        </div>
        <div class="form-gorup float-left margin-left-50">
            <input hidden name="Reprovados" value="@Model.Reprovados" /> <h1 class="margin-left-30"><b>@Model.Reprovados</b></h1>
            <h4>Reprovados</h4>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <th style="width:200px">Área</th>
            <th style="width:150px">N° Trabalhos</th>
            <th style="width:150px">N° Avaliados</th>
        </tr>
        <tr>
            <td>Ciências Biológicas</td>
            <td value="@Model.TrabalhosBiologicas">@Model.TrabalhosBiologicas</td>
            <td value="@Model.AvaliadosBiologicas">@Model.AvaliadosBiologicas</td>
        </tr>
        <tr>
            <td>Ciências Exatas</td>
            <td value="@Model.TrabalhosExatas">@Model.TrabalhosExatas</td>
            <td value="@Model.AvaliadosExatas">@Model.AvaliadosExatas</td>
        </tr>
        <tr>
            <td>Ciências Humanas</td>
            <td value="@Model.TrabalhosHumanas">@Model.TrabalhosHumanas</td>
            <td value="@Model.AvaliadosHumanas">@Model.AvaliadosHumanas</td>
        </tr>
    </table>
</div>
<script type="text/javascript">


    $(".evento").on("click", function () {
        var evento = $(this);
        var id = evento.attr("data-id");

        $.ajax({
            url: '/relatorios/trabalhos',
            type: 'GET',
            data: {
                idEvento: id
            },

            success: function (model) {
                ("#cadastrados").val = model.cadastrados
            },

            error: function (x, y, message) {
                alert("dados nao encontrados");

            },
        });

    });

</script>