@model CICTED.Domain.ViewModels.Administrador.Gerenciar
@{
    Layout = "_Menu";
}

<title>Cadastrar Organizador - CICTED</title>

<form class="form-cadastro-adm" asp-contoller="administrador" asp-action="cadastrarOrganizador" method="post">
    <div style="text-align:center">
        <h2><span class="fa fa-user-plus"></span><b> Cadastrar Organizador</b></h2>
    </div>

    <div class="form-group">

        <div class="margin-top-10 row">
            <div class="float-left" style="width:40%">
                <label>Nome: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" asp-for="Nome" />
            </div>

            <div class="float-right" style="width:50%">
                <label>Sobrenome: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" asp-for="Sobrenome" />
            </div>
        </div>

        <div class="margin-top-10 row">
            <div class="float-left" style="width:40%">
                <label>Email: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" asp-for="Email" />
            </div>

            <div class="float-right" style="width:50%">
                <label>Confirmar email: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" asp-for="ConfirmaEmail" />
            </div>
        </div>

        <div class="margin-top-10 row">
            <div class="float-left" style="width:40%">
                <label>Telefone: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" asp-for="PhoneNumber" id="Telefone" placeholder="(99) 9999-9999" />
            </div>

            <div class="float-right" style="width:50%">
                <label>Celular: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" asp-for="Celular" id="Celular" placeholder="(99) 99999-9999" />
            </div>
        </div>

        <div class="margin-top-10 row">
            <div class="float-left" style="width:40%">
                <label>É avaliador?</label>
                <div class="onoffswitch margin-right-10">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="checkAvaliador" asp-for="Avaliador">
                    <label class="onoffswitch-label" for="checkAvaliador">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="margin-top-10 row" id="avaliador" style="display: none">
            <div>
                <div class="float-left" style="width:40%">
                    <label>
                        Evento: <br />
                        (pressione a tecla CTRL para selecionar mais de um evento)
                    </label>
                    <select class="input-consulta-trab-adm" style="width:300px !important" value="@Model.EventoId" asp-for="EventoId" multiple="multiple">
                        @foreach (var evento in Model.Eventos)
                        {
                            <option value="@evento.Id"> @evento.Sigla</option>

                        }
                    </select>
                </div>
                <div class="float-right" style="width:50%">
                    <label>
                        Área: <br />
                        (pressione a tecla CTRL para selecionar mais de uma área)
                    </label>
                    <select class="input-consulta-trab-adm" style="width:300px !important" id="dropArea" asp-for="AreaConhecimentoId" value="@Model.AreaConhecimentoId" multiple>
                        @foreach (var areas in Model.AreaConhecimento)
                        {
                            <option value="@areas.Id">@areas.Area</option>

                        }
                    </select>
                </div>
            </div>

            <div>
                <div class="float-left margin-top-10" style="width:40%">
                    <label>
                        Subarea: <br />
                        (pressione a tecla CTRL para selecionar mais de uma subarea)
                    </label>
                    <select class="input-consulta-trab-adm" style="width:300px !important" id="dropSubArea" multiple></select>
                </div>
            </div>
        </div>

        <br />

        <div class="margin-top-10" style="margin-left:33%">
            <div class="float-left">
                <button type="submit" class="btn btn-primary" style="width:100px" formmethod="get" asp-controller="administrador" asp-action="GerenciarOrganizador"> Cancelar</button>
            </div>
            <div class="float-left margin-left-10">
                <button class="btn btn-primary" style="width:100px"> Cadastrar</button>
            </div>
        </div>

    </div>
</form>


<script type="text/javascript">
    $("#checkAvaliador").on("change", function () {
        if ($(this).is(":checked")) {
            $("#avaliador").css("display", "block");
        } else {
            $("#avaliador").css("display", "none");

        }
    });

    $('#dropArea').subAreas($('#dropSubArea'));

    $("#Celular").mask("(99) 99999-9999");
    $("#Telefone").mask("(99) 9999-9999");

</script>