@model List<CICTED.Domain.ViewModels.Administrador.GerenciarAutor>
@{
    Layout = "_Menu";
}
<title>Gerenciar Autor - CICTED</title>

<div class="form-consultTrabAdm">
    <h3 style="font-weight: bold"><span class="fa fa-pencil-square-o"></span> Gerenciar Autor</h3>

    <div class="form-group">
        Pesquisar: <input class="input-consulta-trab-adm" id="autor-nome" style="width:350px !important" placeholder="Digite o nome ou email" autocomplete="off" />
        <div style="height:0px; display:none" class="busca float-left">
            <ul id="lista-nomes"></ul>
        </div>
        <button class="btn btn-primary margin-left-10"><span class="fa fa-search"></span></button>
    </div>

    <hr />

    <table class="tabela-trabalho" style="margin:0 0 auto" border="1">
        <tr>
            <th style="width: 50px !important" class="form-group"></th>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>Identificação do Trabalho</th>
            <th style="width: 80px !important" class="form-group"> Status</th>
        </tr>

        @foreach (var autores in Model)
        {
            <tr>
                <td><a class="fa fa-search link organizador" data-toggle="modal" data-target="#myModal" data-id="@autores.Id"></a></td>

                <td>@autores.Nome @autores.Sobrenome</td>
                <td>@autores.Email</td>
                <td>@autores.TrabalhoIdentificacao</td>
                @if (autores.FirstAccess == false)
                {
                    <td><span class="fa fa-check-circle margin-left-10 color-aprovado"></span></td>
                }
                else
                {
                    <td><span class="fa fa-times-circle margin-left-10 color-reprovado"></span></td>
                }
            </tr>
        }
    </table>

    <hr />

    <h5>
        <b>Legenda:</b>
        <span class="fa fa-check-circle margin-left-10 color-aprovado"></span> Já acessou
        <span class="fa fa-times-circle margin-left-10 color-reprovado"></span> Nunca acessou
    </h5>


    <div id="myModal" class="modal fade" role="dialog">
        <div style="width:70%" class="modal-dialog">
            <div style="padding:10px" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h3 style="font-weight:bold"><span class="fa fa-user"></span> Informações do Organizador</h3>

                    <hr />

                    <table class="table-trabalho">
                        <tr><td><b>Nome: </b></td><td id="Nome"></td></tr>
                        <tr><td><b>Email: </b></td><td id="Email"></td></tr>
                        <tr><td><b>Telefone: </b></td><td id="Telefone"></td></tr>
                        <tr><td><b>Celular: </b></td><td id="Celular"></td></tr>
                        <tr><td><b>Evento: </b></td><td></td></tr>
                        <tr><td><b>Área de Conhecimento: </b></td><td></td></tr>
                    </table>

                    <br />

                    <button class="btn btn-primary" style="margin-left:40%; width:100px"><span class="fa fa-pencil-square-o"></span> Editar</button>
                    <button class="btn btn-primary margin-left-20" style="width:100px"><span class="fa fa-close"></span> Excluir</button>

                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(".gerenciarAvaliador").on("click", function () {
        var avaliador = $(this);
        var id = avaliador.attr("data-id");

        $.ajax({
            url: '/administrador/gerenciarAvaliador',
            type: 'get',
            data: {
                id: id
            },

            success: function (data) {
                $('#Nome').text(data.Nome + '' + data.Sobrenome);
                $('#Email').text(data.Email);
                $('#Telefone').text(data.Telefone);
                $('Celular').text(data.Celular);
            }
        });
    });
</script>
